<section class="chatbar">

    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            #{{chatId}} chat-name
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a>Action</a></li>
            <li><a>Another action</a></li>
            <li><a>Something else here</a></li>
            <li><a>Separated link</a></li>
        </ul>
    </div>

    <div class="messages-container" scroll-glue id="scrollbar">
        <ul class="list-unstyled">
            <li class="user-message clearfix" ng-repeat="message in messages | limitTo:-15 ">
                <a class="min-user-photo">
                    <img class="img-rounded" ng-src="{{message.author.avatar_url}}" alt="userphoto">
                </a>
                <dl>
                    <dt>
                        <a>{{message['author']['first_name']}}</a>
                        <time class="time">{{message['date_of_creation']}}</time></dt>
                    <dd><pre>{{message['message']}}</pre></dd>
                </dl>
            </li>
        </ul>
        <div class="typing-wrap">
            <div class="typing" ng-show="isTyping">
                {{typedUserName}} is typing..
            </div>
        </div>
    </div>



    <div class="chat-form">

        <form ng-submit="sendMessage()">

            <textarea class="form-control" rows="3"
                      ng-model="newMessage"
                      ng-required="string"
                      key-press></textarea>

            <button class="btn btn-success">
                <fa name="{{ isLoading ? 'spinner' : 'check' }}"
                    spin="{{ isLoading }}"></fa>
                <span ng-hide="isLoading">Send</span>
            </button>

        </form>

    </div>

</section>
