<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Send email</title>
	<link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/signin-style.css">
</head>
<body>
 	<nav>
        <ul>
            <li><a href="auth-page.html">Auth</a></li>
            <li><a href="send-email.html">Send mail</a></li>
            <li><a href="confirm-password.html">New password</a></li>
        </ul>
    </nav>
	<div class="container-fluid user-auth">
        <form class="form-signin form-horizontal">

            <div class="row-fluid">
                <h2 class="form-signin-heading">Find Your Account</h2>
            </div>
        
            <div class="row-fluid">
                <div class="table-row clearfix">

                    <label class="control-label table-cell" for="inputEmail">Email</label>

                    <div class="table-cell">
                        <input type="email" id="inputEmail" placeholder="Email">
                        <div class="error">fkdjk</div>
                    </div>

                </div>
            </div>
        
            <div class="row-fluid">

                <div class="controls">
                    <button type="submit" class="btn">Search</button>
                </div>

            </div>
        
        </form>
    </div>
</body>
</html>