<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="cancel()"><span
            aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">Create new {{ modalTitle }} chat</h4>
</div>
<form name="newChatModalForm" ng-submit="create()" novalidate>

    <div class="modal-body">

        <div class="form-group"
             ng-class="{'has-error': !newChatModalForm.chatName.$valid && (newChatModalForm.chatName.$dirty || newChatModalForm.$submitted)}">
            <label for="chatName">Chat Name</label>
            <input class="form-control"
                   type="text"
                   id="chatName"
                   name="chatName"
                   ng-model="chat.name"
                   required>

            <div role="alert">
                    <span ng-show="!newChatModalForm.chatName.$valid && (newChatModalForm.chatName.$dirty || newChatModalForm.$submitted)">
                        <span class="help-block">
                           Chat name required.</span>
                    </span>
            </div>
        </div>
        <div class="form-group"
             ng-class="{'has-error': !isUsersFieldValid && (newChatModalForm.selectedItem.$dirty || newChatModalForm.$submitted)}">
            <label for="select">Add Members</label>
            <ui-select multiple
                       ng-model="chat.users"
                       ng-change="validateUsersField()"
                       name="selectedItem"
                       id="select">
                <ui-select-match>
                    {{ $item.name }}
                </ui-select-match>
                <ui-select-choices repeat="user in users  | filter: {name: $select.search} "
                                   refresh="refreshUsers($select.search)"
                                   refresh-delay="0">
                    <span ng-bind="user.name"></span>
                </ui-select-choices>
            </ui-select>
            <div role="alert">
                    <span ng-show="!isUsersFieldValid && (newChatModalForm.selectedItem.$dirty || newChatModalForm.$submitted)">
                        <span class="help-block">
                            Field must contain at least one user.</span>
                    </span>
            </div>
        </div>
        <div class="form-group">
            <label for="chatDescription">Chat Description</label>
                <textarea class="form-control"
                          id="chatDescription"
                          rows="3"
                          name="chatDesc"
                          ng-model="chat.description"></textarea>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Create</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</form>