<div class="modal-header">
    <button type="button" class="close" aria-label="Close" ng-click="cancel()"><span
            aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">{{ chat.id ? 'Edit' : typeOfChat ? 'Create private chat' : 'Create public chat'}}
    </h4>
</div>
<form name="newChatModalForm" ng-submit="sendData()" novalidate>

    <div class="modal-body">

        <div class="form-group"
             ng-class="{'has-error': !newChatModalForm.chatName.$valid && (newChatModalForm.chatName.$dirty || newChatModalForm.$submitted)}">
            <label for="chatName">Chat Name</label>
            <input class="form-control"
                   type="text"
                   id="chatName"
                   name="chatName"
                   ng-model="chat.name"
                   required>

            <div role="alert">
                    <span ng-show="!newChatModalForm.chatName.$valid && (newChatModalForm.chatName.$dirty || newChatModalForm.$submitted)">
                        <span class="help-block">
                           Chat name required.</span>
                    </span>
            </div>
        </div>
        <div class="form-group"
             ng-class="{'has-error': !errors.inputUsersField.valid && (newChatModalForm.selectedItem.$dirty || newChatModalForm.$submitted)}">
            <label for="select">Add Members</label>
            <ui-select multiple
                       ng-model="chat.users"
                       ng-model-options="{ debounce: 250 }"
                       name="selectedItem"
                       id="select">
                <ui-select-match>
                    {{ $item.first_name }} {{ $item.last_name }}
                </ui-select-match>
                <ui-select-choices repeat="user in users  | filter: $select.search"
                                   refresh="refreshUsers($select.search)"
                                   refresh-delay="0">
                    <span ng-bind="user.first_name"></span>
                    <span ng-bind="user.last_name"></span>
                </ui-select-choices>
            </ui-select>
            <div role="alert">
                    <span ng-show="!errors.inputUsersField.valid && (newChatModalForm.selectedItem.$dirty || newChatModalForm.$submitted)">
                        <span class="help-block">
                            {{ errors.inputUsersField.message }}</span>
                    </span>
            </div>
        </div>
        <div class="form-group">
            <label for="chatDescription">Chat Description</label>
                <textarea class="form-control"
                          id="chatDescription"
                          rows="3"
                          name="chatDesc"
                          ng-model="chat.description"></textarea>
        </div>

    </div>
    <div class="modal-footer">
        <div role="alert">
                    <span ng-show="errors.newChatError.show">
                        <span class="new-chat-error-text">
                            {{ errors.newChatError.message }}
                        </span>
                    </span>
        </div>
        <button type="submit" class="btn btn-primary">{{ chat.id ? 'Update' : 'Save' }}</button>
        <a class="btn btn-warning" ng-click="cancel()">Cancel</a>
    </div>
</form>