@message-color: #ff0000;
@valid-border: #00bb55;
@invalid-border: #cb2277;

.invalid-field{
  .ng-invalid {
    border-color: desaturate(@invalid-border, 15%);
    outline-color: @invalid-border;
  }
}
.message{
  font-size: small;
  padding: 5px auto;
  color: @message-color;
}