@background-color: #fff;
@width: 320px;
@height: 320px;

.default {

  .avatar-part {

    background-color: @background-color;
    min-height: 600px;
    margin: 0 auto 3% auto;
    padding: 10px auto 40px auto;

    .info {
      display: table-row;
      max-height: 30px;
      min-width: 70px;
      float:left;
      clear: left;
      margin: 10% 3% 30% 3%;

      p {
        padding: 40px auto 10px 40px;
      }

      .label-info {
        background-color: @background-color;
        font-weight: normal;
        font-size: 16px;
        color: #102313;
        padding: 40px 25px 0 80px;
      }
    }
    .image {
      display: table-row;
      float: left;
      width: @width/2;
      height: @height/2;
      alt: "user photo";
      margin: 1% auto -5% 5%;
      padding: 0 auto 200px -150px;
    }
  }
  @media screen and(min-width: 400px){
      .avatar-part{
        min-height: 180px;
        margin: 7% auto auto 7%;

        .info{
          min-height: 250px;
          min-width: 180px;
          display: table-cell;
          clear: none;
          float: left;
          margin: 0% auto 3% 3%;
          padding: 80px auto 12px -80px;

          p {
            margin: 1% auto 1% 3%;
            padding: 5px auto 5px -80px;
          }

          .label-info {
            font-size: 20px;
          }
        }

        .image {
          float: left;
          display: table-cell;
          width: @width/2;
          height: @height/2;
          margin: 0% auto -5% 10%;
        }
      }
  }
  @media screen and (min-width: 800px) {
    .avatar-part {
      min-height: 350px;
      margin: 7% auto auto 7%;
      .info {
        min-height: 70px;
        min-width: 350px;
        clear: none;
        float: left;
        display: table-cell;
        margin: 3% auto 3% auto;
        padding: 40px auto 12px -80px;

        p {
          margin: 1% auto 1% 1%;
          padding: 3px auto 3px 9px;
        }

        .label-info {
          font-size: 24px;
        }
      }

      .image {
        width: @width;
        height: @height;
        display: table-cell;
        float: left;
        margin: 0% auto -5% 10%;
      }
    }
  }
}
