@import "../bower_components/bootstrap/dist/css/bootstrap.css";

@import "/dist/alertify/alertify.css";
@import "/dist/alertify/default.css";

body {
  background: #fff;
}

.logo-container {
  text-align: center;
  width: 100%;
  padding-top: 30vh;
}

.add-button-container {
  margin-bottom: 20px;
}