@form-border-color: #e5e5e5;
@button-border-color: #8c8c8c;
@form-background-color: #fff;

.box-shadow{
  box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.border-radius(@radius){
  border-radius: @radius;
}

.frame_border(@width, @type, @color){
  border: @arguments;
}
.register {
  .sign-up-form {
    background-color: @form-background-color;
     max-width: 450px;
     padding: 5px auto;
     margin: 10% auto;
    .frame_border(1px, solid, @form-border-color);
    .border-radius(5px);
    .box-shadow
  }

  .form-heading {
    text-align: center;
  }

  .control-label {
    text-align: left;
    min-width: 100px;
  }

  .button {
    vertical-align: middle;
    margin: 2% auto;
    .frame_border(1px, solid, @button-border-color);

  }

  .label-input {
    display: table-row;
    margin: 0 3% 0 auto;
    padding: 0 0 0 10px;
  }

  .control {
    text-align: center;
    margin: 5%;
  }

  @media screen and (min-width: 400px) {
    .sign-up-form {

      padding: 4px;

      .label-input {
        display: table-cell;
        vertical-align: middle;
        min-width: 170px;
        padding: 8px auto 0 8px;
        margin: 0% auto 0% 50%;
      }

      .input-cell {
        width: 100%;
        display: table-cell;
        padding: 12px 8px 0 8px;
        margin: 3% 0%;
      }

      @media screen and (min-width: 400px) {
        .label-cell {
          display: table-cell;
          vertical-align: middle;
          min-width: 170px;
          padding: 8px auto 0 16px;
          margin: 0 auto 0 50%;
        }

        .input-cell {
          width: 100%;
          display: table-cell;
          padding: 12px 8px 0 20px;
          margin: 3% 0;
        }
      }
    }
  }
}
