
<div class="wrapper clearfix">
    <div class="sidebar">

        <div class="user-block">

            <a href="#" class="logo transition">
                <img class="img-rounded" src="/img/user.png" alt="userphoto">
                <h1 class="username">Username</h1>
            </a>

        </div>

        <dl>
            <dt><a ui-sref="manage-chats" class="list-title transition">Public chats</a></dt>
            <dd>
                <ul class="list-unstyled">
                    <li><a href="#">name of public chat</a></li>
                    <li><a href="#">name of public chat</a></li>
                    <li><a href="#">name of public chat</a></li>
                    <li><a href="#">name of public chat</a></li>
                    <li><a href="#">name of public chat</a></li>
                </ul>
            </dd>



            <dt><a href="#" class="list-title transition">Private chats</a></dt>
            <dd>
                <ul class="list-unstyled">
                    <li><a href="#">name of private chat</a></li>
                    <li><a href="#">name of private chat</a></li>
                    <li><a href="#">name of private chat</a></li>
                    <li><a href="#">name of private chat</a></li>
                    <li><a href="#">name of private chat</a></li>
                    <li><a href="#">name of private chat</a></li>
                </ul>
            </dd>

            <dt><a href="#" class="list-title transition">List of users</a></dt>
            <dd>
                <ul class="list-unstyled">
                    <li><a href="#">name of users</a></li>
                    <li><a href="#">name of users</a></li>
                    <li><a href="#">name of users</a></li>
                    <li><a href="#">name of users</a></li>
                    <li><a href="#">name of users</a></li>
                    <li><a href="#">name of users</a></li>
                </ul>
            </dd>
        </dl>
    </div>

    <section class="chatbar">

        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                # chat-name
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>

        <div class="messages-container">
            <ul class="list-unstyled">

                <li class="user-message clearfix">
                    <a class="min-user-photo" href="#">
                        <img class="img-rounded" src="/img/user.png" alt="userphoto">
                    </a>
                    <dl>
                        <dt><a href="#">user-name</a> <time class="time">10:30 PM</time></dt>
                        <dd><p>message</p></dd>
                    </dl>
                </li>

                <li class="user-message clearfix">
                    <a class="min-user-photo" href="#">
                        <img class="img-rounded" src="/img/user.png" alt="userphoto">
                    </a>
                    <dl>
                        <dt><a href="#">user-name</a> <time class="time">10:30 PM</time></dt>
                        <dd><p>message</p></dd>
                    </dl>
                </li>

                <li class="user-message clearfix">
                    <a class="min-user-photo" href="#">
                        <img class="img-rounded" src="/img/user.png" alt="userphoto">
                    </a>
                    <dl>
                        <dt><a href="#">user-name</a> <time class="time">10:30 PM</time></dt>
                        <dd><p>message</p></dd>
                    </dl>
                </li>

                <li class="user-message clearfix">
                    <a class="min-user-photo" href="#">
                        <img class="img-rounded" src="/img/user.png" alt="userphoto">
                    </a>
                    <dl>
                        <dt><a href="#">user-name</a> <time class="time">10:30 PM</time></dt>
                        <dd><p>message</p></dd>
                    </dl>
                </li>

            </ul>
        </div>

        <div class="chat-form">

            <form>

                <textarea class="form-control" rows="3"></textarea>

                <a class="btn btn-success" href="#" type="submit">Send</a>

            </form>

        </div>

    </section>
</div>>