
<div class="wrapper clearfix">

    <side-bar></side-bar>

    <section class="chatbar">

        <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                # chat-name
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li><a href="#">Separated link</a></li>
            </ul>
        </div>

        <message-container></message-container>

        <div class="chat-form">

            <form>

                <textarea class="form-control" rows="3"></textarea>

                <a class="btn btn-success" href="#" type="submit">Send</a>

            </form>

        </div>

    </section>
</div>>