.user-auth {
    padding: 100px 0 0;
}

.form-signin {
    max-width: 320px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
}

.form-signin-heading {
    text-align: center;
}

.form-horizontal .control-label{
    text-align: left;
    float: none;
    min-width: 100px;
}

.form-horizontal .controls, .error {
    margin: 0;
    text-align: right;
}

.error {
    color: red;
    display: none;
}

.password {
    position: relative;
}

.password input {
    padding-right: 57px;
}

.table-cell {
    display: table-cell;
    width: 100%;
}

.table-row {
    display: table-row;
    margin: 0 0 15px;
}

.table-cell input {
    width: 100%;
}

.user-auth input {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 4px 6px;
    height: 30px;
}

.user-auth .row-fluid, .row {
    margin: 0 0 15px;
}

.reset-password {
    position: absolute;
    background-color: red;
    right: 5px;
    bottom: 4px;
}

 @media screen and (max-width: 380px){

     .user-auth .row-fluid, .table-row {
        margin-bottom: 5px;
    }

    .table-cell , .table-row{
        display: block;
    }

    .user-auth input , .user-auth button{
        width: 100%;
    }
} 
