<div class="container-fluid user-auth">
        <form class="form-horizontal">

            <div class="row-fluid form-heading">
                <h3>Enter new password</h3>
            </div>
        
            <div class="table">
                <div class="table-row">

                    <label class="table-cell" for="inputPassword">Password</label>

                    <div class="table-cell password">
                        <input class="form-control" type="password" id="inputPassword" placeholder="Password">
                    </div>

                </div>


                <div class="table-row">

                    <label class="table-cell" for="confirmPassword">Confirm</label>

                    <div class="table-cell password">
                        <input class="form-control" type="password" id="confirmPassword" placeholder="Password">
                    </div>

                </div>

            </div>
            <div class="row-fluid">

                <div class="controls">
                    <button type="submit" class="btn btn-success">Enter</button>
                </div>

            </div>
        
        </form>
    </div>
