<div class="container-fluid user-auth">
    <form class="form-horizontal" name="loginForm" novalidate>
        <div class="row-fluid form-heading">
            <h3>Please sign in</h3>
        </div>
        <div class="table">
            <div class="table-row">
                <label class="table-cell" for="inputEmail">Email</label>
                <div class="table-cell">
                    <input class="form-control"
                           type="email"
                           id="inputEmail"
                           ng-model="authData.email"
                           placeholder="Email">
                    <p class="text-danger bg-warning error">Error massage</p>
                </div>
            </div>
            <div class="table-row">

                <label class="table-cell" for="inputPassword">Password</label>

                <div class="table-cell password">
                    <input class="form-control"
                           type="password"
                           id="inputPassword"
                           ng-model="authData.password"
                           placeholder="Password">
                    <a ui-sref="passwordReset" class="reset-password btn btn-xs btn-danger">restore</a>
                </div>

            </div>
        </div>

        <div class="row-fluid">

            <div class="controls">
                <button type="submit" class="btn btn-success"
                        ng-click="login(authData) && loginForm.$valid">
                    Sign in
                </button>
            </div>

        </div>

    </form>
</div>