<div class="container-fluid user-auth">
        <form class="form-horizontal">

            <div class="row-fluid form-heading">
                <h3>Find Your Account</h3>
            </div>
        
            <div class="table">
                <div class="table-row">

                    <label class="table-cell" for="inputEmail">Email</label>

                    <div class="table-cell">
                        <input class="form-control" type="email" id="inputEmail" placeholder="Email">
                        <p class="text-danger bg-warning error">Error massage</p>
                    </div>

                </div>
            </div>
        
            <div class="row-fluid">

                <div class="controls">
                    <button type="submit" class="btn btn-success">Search</button>
                </div>

            </div>
        
        </form>
    </div>
