<div class="container-fluid register">
    <form class="form-horizontal sign-up-form" role="form" name="signUpForm" novalidate>
        <div class="row-fluid">
            <h2 class="form-heading">Sign up</h2>
        </div>
        <div class="row-fluid">
            <div class="label-input" ng-class="{'invalid-field': signUpForm.firstName.$invalid
                                                && signUpForm.firstName.$dirty}">
                <label class="control-label" for="first-name">First name:</label>
            </div>
            <div class="input-cell">
                <input type="text"
                       class="form-control"
                       id="first-name"
                       name="firstName"
                       ng-model="authData.first_name"
                       required>
            </div>
        </div>
        <div class="row-fluid">
            <div class="label-input">
                <label class="control-label" for="last-name">Last name:</label>
            </div>
            <div class="input-cell">
                <input type="text"
                       class="form-control"
                       id="last-name"
                       name="lastName"
                       ng-model="authData.last_name">
            </div>
        </div>
        <div class="row-fluid">
            <div class="label-input">
                <label class="control-label" for="email">Email:</label>
            </div>
            <div class="input-cell" ng-class="{'invalid-field': signUpForm.email.$invalid
                                                && signUpForm.email.$dirty}">
                <input type="text"
                       class="form-control"
                       id="email"
                       name="email"
                       ng-model="authData.email"
                       ng-change="checkEmail()"
                       required>
            </div>
        </div>
        <div class="row-fluid">
            <div class="label-input">
                <label class="control-label" for="phone">Mobile phone:</label>
            </div>
            <div class="input-cell" ng-class="{'invalid-field': signUpForm.phone.$invalid && signUpForm.phone.$dirty}">
                <input type="text"
                       class="form-control"
                       id="phone"
                       name="phone"
                       ng-model="authData.mobile_phone"
                       ng-change="checkPhone()"
                       required>
            </div>
        </div>
        <div class="row-fluid">
            <div class="label-input">
                <label class="control-label" for="pass">Password:</label>
            </div>
            <div class="input-cell">
                <input type="password"
                       class="form-control"
                       id="pass"
                       name="password"
                       ng-model="authData.password_hash"
                       required>

            </div>
        </div>
        <div class="row-fluid">
            <div class="label-input">
                <label class="control-label" for="confirm">Confirm password:</label>
            </div>
            <div class="input-cell" ng-class="{'invalid-field': signUpForm.confirm.$invalid
                                                && signUpForm.confirm.$dirty}">
                <input type="password"
                       class="form-control"
                       id="confirm"
                       name="confirm"
                       ng-model="authData.confirm"
                       required  is-equal
                       equal-to="authData.password_hash"
                       ng-init="focus=false;blur=false"
                       ng-focus="focus=true; blur=false"
                       ng-blur="blur=true; focus=false">
                <div class="message" ng-show="signUpForm.confirm.$invalid
                                              && signUpForm.confirm.$dirty
                                              && !signUpForm.confirm.$pristine
                                              && blur">
                    Your passwords don't match
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="control">
                <button type="submit" class="btn button"
                        ng-click="signUpForm.$valid && registration(authData)"
                        >Sign Up
                </button>
            </div>
        </div>
    </form>
</div>