<div class="container-fluid" ng-controller="editController">
    <form class="form-horizontal user-profile-form" role="form" name="updateForm"  novalidate>
        <div class="row-fluid">
            <h2 class="form-heading">Edit your profile</h2>
        </div>
        <div class="general-info">
            <div class="row-fluid">
                <div class="label-div">
                    <label class="control-label" for="first-name">
                        your first name:
                    </label>
                </div>
                <div class="input-div">
                    <input  type="text"
                            class="form-control"
                            id="first-name"
                            name="firstName"
                            ng-model="authData.name">
                </div>
            </div>
            <div class="row-fluid">
                <div class="label-div">
                    <label class="control-label" for="last-name">
                        your last name:
                    </label>
                </div>
                <div class="input-div">
                    <input  type="text"
                            class="form-control"
                            id="last-name"
                            name="lastName"
                            ng-model="authData.surname">
                </div>
            </div>
            <div class="row-fluid">
                <div class="label-div">
                    <label class="control-label" for="email">
                        your email:
                    </label>
                </div>
                <div class="input-div">
                    <input  type="text"
                            class="form-control"
                            id="email"
                            name="email"
                            ng-model="authData.email">
                </div>
            </div>
            <div class="row-fluid">
                <div class="label-div">
                    <label class="control-label" for="date-of-birth">
                        your birthday:
                    </label>
                </div>
                <div class="input-div">
                    <input  type="text"
                            class="form-control"
                            id="date-of-birth"
                            name="birthday"
                            ng-model="authData.birthday">
                </div>
            </div>
            <div class="row-fluid">
                <div class="label-div">
                    <label class="control-label" for="mobile-phone">
                        your mobile phone:
                    </label>
                </div>
                <div class="input-div">
                    <input  type="text"
                            class="form-control"
                            id="mobile-phone"
                            name="phone"
                            ng-model="authData.phone">
                </div>
            </div>
        </div>
        <error-div error-object="registration" ng-show="errorFlag badPass"></error-div>
        <div class="pass-part">
            <div class="row-fluid">
                <div class="label-div">
                    <label class="control-label" for="new-pass">
                        input your new password:
                    </label>
                </div>
                <div class="input-div">
                    <input  type="text"
                            class="form-control"
                            name="pass"
                            id="new-pass">
                </div>
            </div>
            <div class="row-fluid">
                <div class="label-div">
                    <label class="control-label" for="confirm-new-pass">
                        please, confirm your new password:
                    </label>
                </div>
                <div class="input-div">
                    <input  type="text"
                            class="form-control"
                            id="confirm-new-pass"
                            name="cnfrmPass"
                            ng-model="authData.password"
                            ng-disabled="updateForm.pass.$dirty">
                </div>
            </div>
        </div>
        <error-div error-object="registration" ng-show="errorFlag badPass"></error-div>
        <div class="avatar">
            <div class="row-fluid">
                <div class="label-div">
                    <label class="control-label" for="avatar-url">
                        choose your new avatar:
                    </label>
                </div>
                <div class="input-div">
                    <input  type="text"
                            class="form-control"
                            id="avatar-url"
                            name="avatar"
                            ng-model="authData.avatar">
                </div>
            </div>
        </div>
        <error-div error-object="registration" ng-show="errorFlag badPass"></error-div>
        <div class="button-div">
            <div class="row-fluid">
                <button type="submit" class="btn button"
                        ng-click="updateUserData(authData)">
                    Save changes
                </button>
            </div>
        </div>
    </form>
</div>