<div class="sidebar">
    <div class="user-block">
        <a href="#" class="logo transition">
            <img class="img-rounded" src="/img/user.png" alt="userphoto">

            <h3 class="username">{{ currentUserName }}</h3>
        </a>
    </div>
    <div class="alert alert-warning fade in" ng-show="error">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Error!</strong>{{error}}
    </div>
    <dl>
        <dt><a ui-sref="manage-chats" class="list-title transition">Public chats</a><a
                class="list-title transition pull-right" ng-click="openNewPublicChat()">
            <fa name="plus"></fa>
        </a></dt>
        <dd>
            <ul class="list-unstyled">
                <li ng-repeat="chat in publicChats | limitTo: 6">
                    <a ui-sref="chats.active({chatId: chat.id})">{{ chat.name }}</a>
                </li>
                <a ng-if="publicChats.length > 6" ng-click="openPublicChatsList()">Show more</a>
            </ul>
        </dd>


        <dt><a href="#" class="list-title transition left">Private chats</a>
            <a class="list-title transition pull-right"
               ng-click="openNewPrivateChat()">
            <fa name="plus"></fa>
        </a></dt>
        <dd>
            <ul class="list-unstyled" >
                <li ng-repeat="chat in privateChats | limitTo: 6">
                    <a ui-sref="chats.active({chatId: chat.id})">{{ chat.name }}</a>
                </li>
                <a ng-if="privateChats.length > 6" ng-click="openPrivateChatsList()">Show more</a>
            </ul>
        </dd>

        <dt><a href="#" class="list-title transition">List of users</a></dt>
        <dd>
            <ul class="list-unstyled">
                <li ng-repeat="user in users | limitTo:6">
                    <a href="#">{{ user.first_name + ' ' + user.last_name }}</a>
                </li>
                <a href="" ng-if="users.length > 6" ng-click="openUsersList()">Show more</a>
            </ul>
        </dd>
    </dl>
    <a ui-sref="chats.active" class="btn" ng-click="showChat()">Open Chat</a>
    <button type="submit" class="btn button" ng-click="logout()">Logout</button>
</div>