
<div class="sidebar">

    <div class="user-block">

        <a href="#" class="logo transition">
            <img class="img-rounded" src="/img/user.png" alt="userphoto">
            <h3 class="username">Username</h3>
        </a>

    </div>

    <dl>
        <dt><a ui-sref="manage-chats" class="list-title transition">Public chats</a><a
                class="list-title transition pull-right" ng-click="openNewChatModal()">
            <fa name="plus"></fa>
        </a></dt>
        <dd>
            <ul class="list-unstyled">
                <li><a href="#">name of public chat</a></li>
                <li><a href="#">name of public chat</a></li>
                <li><a href="#">name of public chat</a></li>
                <li><a href="#">name of public chat</a></li>
                <li><a href="#">name of public chat</a></li>
            </ul>
        </dd>


        <dt><a href="#" class="list-title transition left">Private chats</a><a class="list-title transition pull-right"
                                                                               ng-click="openNewChatModal()">
            <fa name="plus"></fa>
        </a></dt>
        <dd>
            <ul class="list-unstyled">
                <li><a href="#">name of private chat</a></li>
                <li><a href="#">name of private chat</a></li>
                <li><a href="#">name of private chat</a></li>
                <li><a href="#">name of private chat</a></li>
                <li><a href="#">name of private chat</a></li>
                <li><a href="#">name of private chat</a></li>
            </ul>
        </dd>

        <dt><a href="#" class="list-title transition">List of users</a></dt>
        <dd>
            <ul class="list-unstyled">
                <li><a href="#">name of users</a></li>
                <li><a href="#">name of users</a></li>
                <li><a href="#">name of users</a></li>
                <li><a href="#">name of users</a></li>
                <li><a href="#">name of users</a></li>
                <li><a href="#">name of users</a></li>
            </ul>
        </dd>
    </dl>
    <a ui-sref="chats.active" class="btn" ng-click="showChat()">Open Chat</a>
</div>