<div class="default">
    <nav class="navbar-default">
        <div class="navbar">
            <ul class="nav navbar-nav">
                <li>
                    <a ui-sref="edit">Edit profile</a>
                </li>
                <li>
                    <a ui-sref="manage-chats">Manage chats</a>
                </li>
                <li>
                    <a ui-sref="chats">Chats</a>
                </li>
                <li>
                    <a ui-sref="home">Home</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="avatar-part">
        <div class="image-div"><img src="{{userData.avatar_url}}" class="img-responsive image"></div>
        <div class="info">
            <div><label class="label-info">User: {{userData.first_name + userData.last_name}}</label></div>
            <div><label class="label-info">Date of birth: {{userData.date_of_birth}}</label></div>
            <div><label class="label-info">Phone: {{userData.mobile_phone}}</label></div>
            <div><label class="label-info">Email: {{userData.email}}</label></div>
        </div>
        <div class="button-div">
            <button type="submit" class="btn button"
                    ng-click="destroy()"
                    ng-disabled="!your">
                Delete user
            </button>
            <button type="submit" class="btn button"
                    ng-click="edit()"
                    ng-disabled="!your">
                Edit profile
            </button>
        </div>
    </div>
</div>